.calculator {
  margin: auto;
  max-width: pxToRem(360);
  max-height: pxToRem(640);

  padding: pxToRem(76) pxToRem(20) pxToRem(20);
  border: 1px solid rgba(254, 254, 254, 1);
  border-radius: pxToRem(20);
  background-color: $mediumGray;

  &__display {
    display: flex;
    justify-content: flex-end;
    border-radius: pxToRem(10);
    border: pxToRem(12) solid black;
    padding: pxToRem(16);
    margin-bottom: pxToRem(45);
    font: $font;
    color: $gray20;
    background: $gray10;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: pxToRem(16);
  }
}
